@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/colors.scss' as colors;

.social {
  display: flex;
  gap: 2rem;
}

.socialLink {
  display: block;
  align-content: center;
  width: 3rem;
  height: 3rem;
  background-color: colors.$c-white;
  border-radius: 0.5rem;
}

.socialLinkFaceBook {
  @include mixins.icon(2.15rem, 2.15rem);
  &::before {
    mask-image: url('../../../assets/icons/icon-facebook.svg');
  }
}

.socialLinkInstagram {
  @include mixins.icon(2.15rem, 2.15rem);
  &::before {
    mask-image: url('../../../assets/icons/icon-insta.svg');
  }
}

.socialLinkGoogle {
  @include mixins.icon(2.15rem, 2.15rem);
  &::before {
    mask-image: url('../../../assets/icons/icon-gmail.svg');
  }
}

.socialLinkTelegram {
  @include mixins.icon(2.15rem, 2.15rem);
  &::before {
    mask-image: url('../../../assets/icons/icon-telegram.svg');
  }
}
