@use '../../../styles/colors.scss' as colors;

.bicycleItem {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  transition: all 0.4s ease-out;
  height: 80vh;
}

.bicycleInfoBlock {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

.color {
  display: 'inline-block';
  width: 3rem;
  height: 2rem;
}

.description {
  height: 8rem;
}
