@use '../../../styles/colors.scss' as colors;
.bicyclesBlock {
  max-width: 127.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 1rem;
  border: 1px;
  border: 0.1rem solid colors.$c-gray;

  &:last-child {
    border-bottom: none;
  }
}
