@use '../../../styles/colors.scss' as colors;

.inputWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
  color: colors.$c-orange;
  position: relative;
}

.errorMessage {
  min-height: 2rem;
  max-height: 6rem;
  color: red;
  font-size: 1.5rem;
}

.input {
  display: flex;
  width: 100%;
  color: colors.$c-gray;
  font-size: 1.8rem;
  line-height: 2rem;
  min-height: 4rem;
  border-radius: 0.4rem;
  padding: 0.8rem 1.6rem;
  border: 0.2rem solid transparent;
  border: 0.2rem solid colors.$c-orange;
  background: colors.$c-white;
  transition: all 0.1s ease 0s;
  &:focus {
    border: 0.2rem solid colors.$c-brown-700;
  }
}

.passwordEye {
  display: inline-block;
  position: absolute;
  right: 3%;
  top: 40%;
  z-index: 1;
  margin-top: 0.5rem;
  min-width: 3rem;
  height: 2.5rem;
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
  background-color: colors.$c-orange;
  cursor: pointer;
}

.passwordEyeClosed {
  mask-image: url('../../../assets/icons/open-eye-password.svg');
}

.passwordEyeOpen {
  mask-image: url('../../../assets/icons/close-eye-password.svg');
}
