@use '../../../styles/mixins.scss' as mixins;
@use '../../../styles/colors.scss' as colors;

.header {
  max-width: 127.5rem;
  position: relative;
  padding: 4rem 0rem;
  margin: 0 auto;
}

.headerInner {
  display: grid;
  grid-template-columns: 3.71fr 1.99fr 0.505fr;
  align-items: center;
  padding-left: 0.8rem;
}

.headerActions {
  display: flex;
  gap: 4.25rem;
}

.headerSearch {
  position: absolute;
  top: 16rem;
  width: 100%;
  max-width: 127.5rem;
  translate: calc((100vw - 100%) / 2);
}

.navList {
  display: flex;
  gap: 4.1rem;
  padding-top: 0.4rem;
}

.navLink {
  font-size: 1.8rem;
  font-weight: 600;

  @include mixins.hoverFocus {
    color: colors.$c-orange;
  }

  &.current {
    color: colors.$c-orange;
    border-bottom: 0.1rem solid colors.$c-orange;
  }
}

.logo {
  display: block;
  max-width: 22rem;

  &:focus {
    border-bottom: none;
  }
}

.iconSearch {
  @include mixins.icon(2.9rem, 2.9rem);
  &::before {
    mask-image: url('../../../assets/icons/icon-search.svg');
  }
}

.iconCart {
  @include mixins.icon(2.9rem, 2.9rem);
  &::before {
    mask-image: url('../../../assets/icons/icon-cart.svg');
  }
}
