$c-white: #ffffff;
$c-gray: #b4aeaa;
$c-gray-100: #b2b2b2;
$c-brown-200: #7f6654;
$c-brown-300: #6d625a;
$c-brown-400: #554d47;
$c-brown-600: #453e38;
$c-brown-700: #49413a;
$c-dark: #1d1b19;
$c-orange: #ff6f1e;
