@use '../../../styles/colors.scss' as colors;
@use '../../../styles/mixins.scss' as mixins;

.footer {
  background-color: colors.$c-brown-700;
  padding: 0.9rem 0;
  color: colors.$c-white;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  max-width: 127.5rem;
  margin: 0 auto;
}

.footerTop {
  display: flex;
  justify-content: space-between;
}
.footerNav {
  display: flex;
  gap: 11.1rem;
}

.footerBottom {
  padding: 4.1rem 0 1rem;
}

.footerCopy {
  font-size: 1.4rem;
}

.footerCol:last-child {
  padding-left: 0.9rem;
}

.footerTitle {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.7rem;
}

.footerItem {
  &:not(:last-child) {
    margin-bottom: 1.8rem;
  }
}

.footerLink {
  font-size: 1.8rem;
  @include mixins.hoverFocus {
    color: colors.$c-orange;
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;
}
