@use '../../styles/colors.scss' as colors;
@use '../../styles/mixins.scss' as mixins;

.addressGroup {
  &:not(:last-child) {
    margin-bottom: 5.6rem;
  }
}

.addressLink {
  font-size: 2.4rem;
  @include mixins.hoverFocus {
    color: colors.$c-orange;
  }
}

.addressText {
  padding-top: 1.3rem;
  line-height: 1.9;
}
